.investment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(197, 197, 197);
}

.investment-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investment-button {
  margin: 10px;
  background-color: #4bffb5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.investment-value {
  margin: 10px;
  font-size: 18px;
}

.investment-value-white {
  color: white;
}
